.navbar {
    // 不一定要给顶部条加定位实现
    // 组件应该保持默认的样式，对于页面单独需要的样式，在页面中单独指定就可以了
    // margin-top: -45px;
    // 此时拖动/滚动顶部条并不会滚动了
    color: #333;
    background-color: #f6f5f6;

    .am-navbar-title {
        color: #333;
    }
}